body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

section {
  width: 27%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  background-color: hsl(216, 50%, 16%);
  border-radius: 1rem;
  box-shadow: 0 0 100px #06111f;
}

section * {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 85%;
  margin: 7.5% 7.5% 0% 7.5%;
  border-radius: 0.5rem;
}

h1 {
    color: hsl(0, 0%, 100%)
}

p {
    font-size: 18px;
}

.p1 {
    color: #8195b0;
}

.flex-container.stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid;
    border-color: #2b3d55;
    padding-bottom: 1rem;
}

.iconE {
    margin: auto;
    width:1rem
}


.p2 {
    color: #3de9ed;
    margin-left: 0.5rem;
}

.iconC {
    margin: auto;
    width: 1rem;
}

.p3 {
    color: #8195b0;
    margin-left: 0.5rem;
    width: 40%;
}

.flex-container.credit {
    display: flex;
    margin-top: 2%;
}

.avatar {
    margin: auto;
    width: 2rem;
    border: 0.1rem solid;
    border-color: hsl(0, 0%, 100%);
    border-radius: 100%;
    border
}

.p4 {
    color: #8195b0;
    margin-left: 1rem;
}

strong {
    color: #d7e3f3;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #8195b0;
  margin-top: 3%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
